$PKGLINE

public class $CLASSNAME {

/*************************************************************************************************/
//===========================KONSTANTNI ATRIBUTY TRIDY============================================
//===========================OSTATNI ATRIBUTY TRIDY===============================================
//===========================KONSTANTNI ATRIBUTY INSTANCI=========================================
//===========================OSTATNI ATRIBUTY INSTANCI============================================

/*************************************************************************************************/
//===========================PRISTUPOVÉ METODY ATRIBUTU TRIDY=====================================
//===========================OSTATNI METODY TRIDY=================================================

/*************************************************************************************************/
//===========================TOVARNI METODY A KONSTRUKTORY========================================

/*************************************************************************************************/
//===========================KONECNE METODY INSTANCI==================================
//===========================PRISTUPOVE METODY ATRIBUTU INSTANCI==================================
//===========================OSTATNI METODY INSTANCI==============================================

/*************************************************************************************************/
//===========================HLAVNI METODA========================================================

/*************************************************************************************************/
//===========================SOUKROME METODY======================================================

/*************************************************************************************************/
//===========================TESTOVACI METODY=====================================================
}
