$PKGLINE

public class $CLASSNAME {

//===========================KONSTANTNÍ ATRIBUTY TŘÍDY=============================
//===========================OSTATNÍ ATRIBUTY TŘÍDY================================
//===========================KONSTANTNÍ ATRIBUTY INSTANCÍ==========================
//===========================OSTATNÍ ATRIBUTY INSTANCÍ=============================

//===========================PŘÍSTUPOVÉ METODY ATRIBUTŮ TŘÍDY======================
//===========================OSTATNÍ METODY TŘÍDY==================================

//===========================TOVÁRNÍ METODY A KONSTRUKTORY=========================
//===========================PŘÍSTUPOVÉ METODY ATRIBUTŮ INSTANCÍ===================
//===========================OSTATNÍ METODY INSTANCÍ===============================

//===========================HLAVNÍ METODA=========================================

//===========================SOUKROMÉ METODY=======================================

//===========================TESTOVACÍ METODY======================================
}
